@model SportoKluboApp.Models.ViewModels.ManageUsersViewModel

@{
    ViewData["Title"] = "Manage users";
}

<h2>@ViewData["Title"]</h2>

<h3>Administrators</h3>

<table class="table">
    <thead>
        <tr>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Administrators)
    {
        <tr>
            <td>@user.Email</td>
        </tr>
    }
</table>

<h3>Everyone</h3>

<table class="table">
    <thead>
        <tr>
            <td>Email</td>
            <td>Subscription</td>
        </tr>
    </thead>

    @foreach (var user in Model.Everyone)
    {

        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-action="AddSubscription" method="post">
                    <input id="sub" asp-for="@user.Subscription" name="sub" />
                    <input type="hidden" name="id" value="@user.Id" />
                    <button id="sub1" type="submit">Saugoti</button>
                </form>
            </td>
        </tr>
    }
</table>

<style>
    #sub {
        width: 40px;
    }

    #sub1 {
        border-radius: 10px;
        border-color: black;
        border-width: 2px;
        background-color: white;
    }
</style>