@model SportoKluboApp.Models.ViewModels.TreniruotesViewModel

@using Microsoft.AspNetCore.Identity
@using SportoKluboApp.Models

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Treniruotes";
}

<div class="panel panel-default">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover" id="aa">

        @foreach (var item in Model.Treniruotes)
        {
            <tr >
                <td id="laikoTR">@item.Laikas</td>
            </tr>
            <tr id="bb">
                <td>@item.Pavadinimas</td>
                <td>@item.Registracijos/@item.LaisvosVietos</td>
                <td id="buttons">
                    @if (signInManager.IsSignedIn(User))
                    {

                        var currentUser = await userManager.GetUserAsync(User);

                        var isAdmin = currentUser != null
                            && await userManager.IsInRoleAsync(
                                currentUser, Constants.AdministratorRole);

                        if (isAdmin == false && item.IsDone == false)
                        {
                            @if (item.TreniruotesDalyviai.Contains(User.Identity.Name))
                            {
                                <form asp-controller="Treniruotes" asp-action="ExitTreniruote" method="post">
                                    <input id="Exit" type="submit" value="Exit" class="join-button" />
                                    <input type="hidden" name="id" value="@item.Id">
                                </form>
                            }

                            else
                            {
                                if (item.LaisvosVietos != item.Registracijos)
                                {
                                    <form asp-controller="Treniruotes" asp-action="JoinTreniruote" method="post">
                                        <input id="Join" type="submit" value="Join" class="join-button" />
                                        <input type="hidden" name="id" value="@item.Id">
                                    </form>
                                }
                                else
                                {
                                    <label id="FullWorkout">Treniruote pilna!</label>
                                }
                            }
                        }

                        if (isAdmin)
                        {
                            <form asp-controller="Treniruotes" asp-action="WorkoutUsers" method="post">
                                <input id="List" type="submit" value="List" class="join-button" />
                                <input type="hidden" name="id" value="@item.Id">
                            </form>
                            @if (item.IsDone == false)
                            {
                                <form asp-controller="Treniruotes" asp-action="WorkoutIsDone" method="post">
                                    <input id="IsDone" type="submit" value="Done" class="join-button" />
                                    <input type="hidden" name="id" value="@item.Id">
                                </form>
                            }
                        }
                    }

                    else
                    {
                        <label>Reikia prisijungti!</label>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>

        }
    </table>

    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddTreniruotePartial", new Treniruote())
    </div>
</div>


<style>
    #laikoTR{
        border:none;
    }

    #Exit{
        border-color:red;
        border-radius: 7.5px;
        color: red;
        background-color:white;
    }

    #Join {
        border-color: darkblue;
        border-radius: 7.5px;
        color: darkblue;
        background-color: white;
        align-items:baseline;
    }

    #FullWorkout{
        color:red;
    }

    #bb{
        border:solid;
        border-color:darkgoldenrod;
        background-color:antiquewhite;
        align-content:center;

    }

    #buttons{
        text-align:center;
      }

</style>